
/* Global style --------------------------------------------------*/

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Verdana, Tahoma, sans-serif;
}

main {
    display: grid;
    max-width: 1280px;
    margin: auto;
    position: relative;
}

h1, h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}

h3, strong, summary {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 20px;
}
p, #om-noroff-ul > li {
    margin: 15px 0;
    line-height: 1.8rem;
    text-align: left;
}

a {
    font-weight: 600;
    color: black;
}

button {
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    background-color: #75FABC;
    width: 300px;
    margin: auto;
}

/* header ------------------------------------------------------*/

header {
    background-color: #FF2F02;
    max-width: 100vw;
    padding: 20px;
    height: 15vh;
}

#header-cont {
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: 50px;
    position: relative;
}

#nav li {
    list-style: none;
    margin: 10px;
    font-weight: 600;
    text-decoration: underline;
    display: inline-block;
}

#nav li:last-child {
    color: white;
    text-decoration: none;
    border: 2px solid;
    padding: 10px 20px;
    margin-left: 30px;
}

/* Intro --------------------------------------------------------------*/

#intro {
    height: 70vh;
    display: flex;
    gap: 100px;
    align-items: center;
    flex-direction: row;
    padding-left: 50px;
}

#introText, #miniKalender {
    flex: 1;
}

#miniKalender {
    text-align: center;
}

/* Filter --------------------------------------------------------------*/

#filter-icon {
    display: none;
}

#filter-cont {
    display: flex;
    background-color: #404040;
    min-height: 15vh;
    max-width: 100vw;
    align-items: center;
    /*må gjøre dette for å få bakgrunnen til 100% vw*/
    width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
    position: relative;
}


#filter {
    max-width: 850px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.dropdown {
    padding: 10px;
    width: 170px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    /*Gjør dette for å få litt space til høyre for pilen i dropdown select*/
    border-right: 16px solid transparent;
}


/*event cards --------------------------------------------------------------*/

.event-card {
    padding: 5px 16px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    background-color: #FAFAFA;
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.event-header {
    font-size: 22px;
    margin-top: 20px;
    text-align: left;
}

.date-cont {
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}


.day {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
}

.month {
    line-height: 0;
}


/* Fjerner default pilen til details*/

details > summary:first-of-type {
    list-style-type: none;
}

.fa-chevron-down {
    font-size: .8rem;
    padding-left: 10px;
}





/* Hovedkalender --------------------------------------------------------------*/


#hovedKalender {
    width: 850px;
    margin: 50px auto;
    text-align: center;
}

/*Om noroffquality --------------------------------------------------------------*/

#om-noroff-cont {

    background-color: #FF2F0230;
    width: 100vw;
    margin-top: 50px;
    padding: 50px 0;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
} 

#om-noroff {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    column-gap: 100px;
    row-gap: 30px;
}

#om-noroff * {
    flex: 1;
}

#om-noroff-cont {
    padding: 50px;
}

#om-noroff-overskrift {
    flex: 100%;
}



/*-------------------------------------------Tablet version ----------------------------------------------- */

@media screen and (max-width: 1024px) {
    * {
        max-width: 100vw;
    }

    

    #header-cont {
        display: none;
    }

    #intro {
        display: block;
        max-width: 80vw;
        margin: 50px auto;
        height: auto;
        padding-left: 0;
    }

    #intro-last {
        margin-bottom: 40px;
    }

    #filter-cont {
        min-height: 100px;
        display: block;
        display: flex;
        justify-content: right;
    }
    
    #filter {
        display: flex;
    }
    
    #filter {
        display: none;
    }

    .dropdown {
        width: 50vw;
    }

    #filter select, #filter-icon {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px 0;
    }

    

    #filter-icon {
        display: block;
        color: white;
        width: 50px;
        margin-right: 50px;
    }

    .event-card {
        max-width: 100vw;
        height: fit-content;
        align-items: flex-start;
    }
 
    #hovedKalender {
        max-width: 80vw;
    }

    #om-noroff-cont {
    
        max-width: 100vw;
    }
 
    #om-noroff {
        flex-direction: row;
        gap: 20px;
        max-width: 80vw;
    }

}



/*-------------------------------------------Mobile version ----------------------------------------------- */

@media screen and (max-width: 700px) {

    * {
        max-width: 100vw;
    
    }


    main {
        display: grid;
        max-width: 600px;
        margin: auto;
        position: relative;
    }


    #om-noroff {
        flex-direction: column;
    }

}